main {
  margin-top: 100px;
}

.kana-input-trainer {
  max-width: 540px;
  margin: auto;
}

.kana-prompt {
  font-size: 3rem;
  text-align: center;
}

.kana-ghost {
  visibility: hidden;
}

.kana-next-question {
  font-size: 5rem;
}

.kana-questions-after {
  color: gray;
}
